
body{
    width: 80%;
    margin: auto;
}

.logo{
    height: 250px;
    width: 250px;
    padding-top: 100px;
    padding-left: 10px;
}

.sfondo-logo{
    background-image: url("img/pattern.png");
    height: 175px;
    background-color: #4EA0FF; 
}

.titolo{
    font-size: 45px;
}

.blue{
    color: #2FAFE6;
}

.crediti{
    color: grey;
    font-size: 20px;
}

.data{
    color: grey;
    font-size: 12px;
    margin-bottom: 20px;
}

.descrizione{
    font-size: 12px;
}

.evidenziato{
    background-color: yellow;
}

.titolo-footer{
    color: #9e9999;
}

thead{
    background-color: #20A9E5;
    color: white;
}

.linea-tabella{
    background-color: #B1E5F2;
}

th{
    text-align: left
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;  
  }
/* 
td{
    width: 10%;
} */






